.materialboxed {
  display: block;
  cursor: zoom-in;
  position: relative;
  @include transition(opacity .4s);

  &:hover {
    &:not(.active) {
      opacity: .8;
    }
    will-change: left, top, width, height;
  }
}

.materialboxed.active {
  cursor: zoom-out;
}

#materialbox-overlay {
  position:fixed;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background-color: color("w-color-1", "base");
  z-index: 999;

  will-change: opacity;
}
.materialbox-caption {
  font-family: $code-font;
  font-size: 2em;
  position: fixed;
  display: none;
  color: color("w-color-2", "base");
  line-height: 50px;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0% 15%;
  min-height: 50px;
  z-index: 1000;
  -webkit-font-smoothing: antialiased;
}